.btn {
  text-decoration: none;
  color: white;
  background-color: var(--color-primary);
  padding: calc(var(--v-gap) / 2) var(--h-gap);
  width: fit-content;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  height: var(--h-non-text-line);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.btn:not(:disabled):hover {
  color: var(--color-primary);
  background-color: white;
  border: 1px solid var(--color-primary);
}