---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Base from "../layouts/Base.astro";
import Hero from "../modules/landing/application/Hero.astro";
import Perks from "../modules/landing/application/Perks.astro";
---

<Base
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  keywords={"3d, 2d, webgl, opengl, videogames, game engine, open source, FOSS"}
>
  <main>
    <section>
      <Hero />
      <Perks />
    </section>
  </main>
</Base>

<style>
  main {
    min-height: 700px;
  }
</style>
