---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Base from "../layouts/Base.astro";
---

<Base
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  keywords={"3d, 2d, webgl, opengl, videogames, game engine, open source, FOSS, "}
>
  <h1>Hello Dominique</h1>
  <script>
    import gsap from "../utils/gsap.mjs";

    gsap.to("h1", { duration: 2, x: 100 });
  </script>
</Base>
