---
import BaseHead from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../../decss/utils/all_classes.mjs";
import "../../decss/scrollbar.css";
import "../../decss/font.css";
import "../styles/vars.css";
import "../styles/global.css";
import "../styles/typography.css";
import "../styles/components/anchor_button.css";
import "../styles/components/button.css";

export interface Props {
  title: string;
  description: string;
  keywords: string;
  image?: string;
}

const { title, description, image, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      keywords={keywords}
      image={image}
    />
  </head>

  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
